[submodule "repos/Daft-Freak-32blit-misc"]
	path = repos/Daft-Freak/32blit-misc
	url = https://github.com/Daft-Freak/32blit-misc
[submodule "repos/32blit/32blit-boilerplate"]
	path = repos/32blit/32blit-boilerplate
	url = https://github.com/32blit/32blit-boilerplate
