name: Update Repos

on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-20.04

    steps:
    # Check out the main repo
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: true

    - name: Setup git
      run: |
          git config --global user.name ${{env.GITHUB_ACTOR}}
          git config --global user.email '${{env.GITHUB_ACTOR}}@users.noreply.github.com'

    - run: python3 update-repos.py
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
